body{
    background-color:#ecc5c5;
}

nav a{
  font-family: arial;
}

li{
	text-decoration: none;
	display:inline;
	background-color: white;
	color: black;
}

img{
  max-width:50%;
  max-height:50%;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
